* {
    user-select: none;
}

html, body {
    height: 100%;
	padding: 0;
    margin: 0;
	overflow: hidden;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	min-height: 100%;
}

#container {
    width: 100%;
	height: 100%;
}
#rodape {
    position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #fff;
	border-top: 1px solid black;
	display: inline-block;
	min-height: 25px;
}

#imageFileInput {
  display: none;
}

#myCanvas {
	display: block;
}

#rgb1, #rgb2, #raio, #log {
	display: inline-block;
	margin: 0px 10px 0px 10px;
	vertical-align: middle;
	background-color: white;
}

#crgb1, #crgb2 {
	display: inline-block;
	width: 14px;
	height: 14px;
	border: 1px solid black;
	vertical-align: middle;
}

.btn {
  display: inline-block;
  background-color: #000;
  color: white;
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin: 1px;
}

.btn:hover {
  filter: brightness(0.9);
}